<table class="table">
  <thead>
    <th>Controller</th>
    <th>Filters</th>
  </thead>
  <tbody>
    <% @controllers_and_callbacks.each do |controller, callbacks| %>
      <tr> 
        <td><%= controller %></td>
        <td>
          <table>
            <% callbacks.each do |callback| %>
              <tr>
                <td><%= callback %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
