<h4>Controllers</h4>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Include
        </button>
      </span>
      <input type="text" class="form-control" placeholder="Filters by controller name...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <ul class="list-group" id="include-controllers">
      <% if @controller_filters.empty? %>
          <li class="list-group-item">No controller filters currently set</li>
      <% else %>
        <% @controller_filters.each do |controller_filter| %>
          <a href="#" onclick="removeController()" class="list-group-item">
            <%= controller_filter %>
            <span class="glyphicon glyphicon-remove pull-right list-group-span" aria-hidden="true"></span>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
