<h4>Filters</h4>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="with_filter_input_btn" class="btn btn-success" type="button" onclick="send_with_filter()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          With
        </button>
      </span>
      <input id="with_filter_input" type="text" class="form-control" placeholder="(e.g. require_admin)" >
    </div><!-- /input-group -->

    <ul class="list-group top-buffer" id="with-actions">
      <% if @with_filters.empty? %>
          <li class="list-group-item">No with filters currently set</li>
      <% else %>
        <% @with_filters.each do |with_filter| %>
          <a href="#" onclick="remove_with_filter(this)" class="list-group-item">
            <%= with_filter %>
            <span class="glyphicon glyphicon-remove pull-right list-group-span" aria-hidden="true"></span>
          </a>
        <% end %>
      <% end %>
    </ul>

  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="without_filter_input_btn" class="btn btn-danger" type="button" onclick="send_without_filter()">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          Without
        </button>
      </span>
      <input id="without_filter_input" type="text" class="form-control" placeholder="(e.g. verify_authenticity_token)">
    </div><!-- /input-group -->

    <ul class="list-group top-buffer" id="without-actions">
      <% if @without_filters.empty? %>
          <li class="list-group-item">No without filters currently set</li>
      <% else %>
        <% @without_filters.each do |without_filter| %>
          <a href="#" onclick="remove_without_filter(this)" class="list-group-item">
            <%= without_filter %>
            <span class="glyphicon glyphicon-remove pull-right list-group-span" aria-hidden="true"></span>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

